@model IEnumerable<ScooterRentalApp.Data.Rental>

@{
    ViewBag.Title = "Rezerwacje i wypożyczenia";
}

<h2>Rezerwacje i wypożyczenia</h2>

<span class="text-danger">@ViewBag.Validation</span>

<table class="table">
    <tr>
        <th>Klient</th>
        <th>Hulajnoga</th>
        <th>Data wypożyczenia</th>
        <th>Planowany zwrot</th>
        <th>Data zwrotu</th>

        @if (!User.IsInRole(SystemRoles.Administrator))
        {
            <th>Akcja</th>
        }
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Client.Email</td>
            <td>@item.Scooter.Model</td>
            <td>@item.RentalDate</td>
            <td>@item.PlannedReturnDate</td>
            <td>@item.ReturnDate</td>
            @if (!User.IsInRole(SystemRoles.Administrator))
            {
            <td>@if (item.Scooter.CurrentRentalId == null && !item.ReturnDate.HasValue)
                {
                    @Html.ActionLink("Wypożycz", "Rent", new {id = item.Id})
                }
                else if (item.Scooter.CurrentRentalId == item.Id)
                {
                    @Html.ActionLink("Zwróć", "Return", new { id = item.Id })
                } </td>
            }
        </tr>
    }
</table>
